@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito";
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#spaceTop {
  display: flex;
  height: auto;
  width: auto;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
  justify-content: space-between;
}

#textBox {
  display: flex;
  height: auto;
  width: 712px;
  justify-content: center;
  align-items: flex-end;
  font-size: 2rem;
  color: #000000;
  overflow: none;
  text-align: center;
}

.img {
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 25px;
}

#icon {
  padding: 50px;
  background-color: green;
  transition: transform 0.2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

#icon:hover {
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

button {
  padding: 2px;

  transition: transform 0.2s; /* Animation */
  width: auto;
  height: auto;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

button:hover {
  transform: scale(
    1.2
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

button:active {
  transform: translateY(2px);
}

.score-section {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  color: #000000;
}

.resetBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: auto;
  height: auto;
}

.reset {
  display: inline-block;
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  margin: 0;
  font-family: "Nunito";
  text-decoration: none;
  background: #8443d8;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.reset:hover,
.reset:focus {
  background: #d607f1;
}

.reset:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.reset:active {
  transform: scale(0.75);
}
